#app {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    display: inline;
    margin: 8px;
    padding: 8px;
    max-width: 360px;
    min-width: 240px;
    flex: 1;
    background-color: #2494c0;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
      0 1px 8px 0 rgba(0, 0, 0, 0.12);
  }
  
  .card > span {
    float: right;
    margin: 1em 0;
}

